{% extends "layout.html" %}

{% block body %}



<ul style="text-align: center;" class="list-group">
  <li class="list-group-item active">KONTROL PANELİ </li>

</ul>
<hr>
<h5 style="color: white;">Hoşgeldiniz, {{session["username"]}}</h5>
<hr>



<a href="/add-patient" class="btn btn-primary">Hasta Ekle</a>

<hr>
{% if patients !=[] %}


<div style="background-color: #007BFF; color: white;" class="card">
  <div class="card-body">
    TOPLAM HASTA SAYINIZ : {{patients|length}}
    <br>
    HASTALARINIZIN YAŞ ORTALAMASI : {{average_age}} 
    
  </div>
</div>
<hr>
{% block search %}
<form action="/search" method="post">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" name="keyword" placeholder="Ara..." required>
    </div>
    <div class="form-group col">
      <select class="form-control" name="select">
        <label>Arama Şeklini Seçiniz </label>
        <option value="name">Hasta İsmi</option>
        <option value="lastname">Hasta Soyismi</option>
        <option value="provienceId">Hasta Şehri</option>
        <option value="diagnosisName">Hasta Tanısı</option>
      </select>
    </div>
    <div class="col">
      <input class="btn btn-danger" type="submit" value="Ara">
      <a href="/dashboard" class="btn btn-success">Tüm Hastaları Görüntüle</a>
    </div>
  </div>
</form>
<hr>
{% endblock search %}

{% block dashboard %}



<ul style="text-align: center;" class="list-group">
    <li class="list-group-item active">TÜM ŞEHİRLERDEKİ HASTALARINIZ</li>
  
  </ul>
  <hr>
  <table style="text-align: center;" class="table table-bordered">
    <thead style="background-color: #007BFF; color: white;">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">İsim</th>
        <th scope="col">Soyisim</th>
        <th scope="col">Şehir</th>
        <th scope="col">Hasta Tanısı</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
      <tr>
        <th scope="row">{{patient.Id}}</th>
        <td>{{patient.name}}</td>
        <td>{{patient.lastname}}</td>
        <td>{{patient.provienceId}}</td>
        <td>{{patient.diagnosisName}}</td>
        <td><a href="/patients/{{patient.provienceId}}/{{patient.Id}}" class="btn btn-primary">Hastayı Görüntüle</a></td>
        <td><a href="/delete/{{patient.Id}}" class="btn btn-danger">Hastayı Sil</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  <hr>

  {% endblock  %}
  {% else %}

  <div class=" alert alert-info">Henüz Hastanız Bulunmuyor.</div>

  {% endif %}


  {% endblock body %}